* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mainImage {
  background: url(./assets/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
}

.filter::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.card.title{
  overflow:hidden;
  color:rgba(red, green, blue, o.85);
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

